{% extends 'base.html.twig' %}

{% block title %}Hello ProveedorController!{% endblock %}

{% block body %}
<style>
   {# estilos #}
</style>
<h1>Listado de Proveedores</h1>

    {# {{ dump(proveedores) }} #}
    <h4>
    <a href="{{ path('crear_proveedor_form') }}">Nuevo Proveedor +</a>
</h4>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.id }}</td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.correo }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.tipo.tipo }}</td>
                    <td>{{ proveedor.activo ? "Activo" : "Inactivo" }}</td>
                    <td>
                    
                    
                                                <a href="{{ path('proveedor_id', {'id': proveedor.id}) }}">Ver</a>

                  
                        <a href="{{ path('edit_proveedor_form', {'id': proveedor.id}) }}">Editar</a>
                   
                        <a href="{{ path('delete_proveedor', {'id': proveedor.id}) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este proveedor?')">Eliminar</a>

                  

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No hay registros</td>
                </tr>
            {% endfor %}
        </tbody>



{% endblock %}
