{% extends 'base.html.twig' %}

{% block title %}Hello ProveedorController!{% endblock %}

{% block body %}
<style>
   {# estilos #}
</style>
<h1>Listado de Proveedores</h1>

    {# {{ dump(proveedores) }} #}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.id }}</td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.correo }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.tipo.tipo }}</td>
                    <td>{{ proveedor.activo ? "Activo" : "Inactivo" }}</td>
                    {# <td>
                        <a href="{{ path('proveedor_show', {'id': proveedor.id}) }}">show</a>
                        <a href="{{ path('proveedor_edit', {'id': proveedor.id}) }}">edit</a>
                    </td> #}
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No hay registros</td>
                </tr>
            {% endfor %}
        </tbody>



{% endblock %}
