{% extends 'base.html.twig' %}

{% block title %}Hello ProveedorController!{% endblock %}

{% block body %}

<h1>Detalle de Proveedor</h1>


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proveedor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ proveedor.nombre }}</td>
            </tr>
            
            <tr>
                <th>Telefono</th>
                <td>{{ proveedor.telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ proveedor.correo }}</td>
            </tr>
           
            <tr>
                <th>Fecha de Registro</th>
            <td>{{ proveedor.getFechaCreacion()|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha de Actualizacion</th>
            <td>{{ proveedor.getFechaActualizacion()|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ proveedor.activo ? "Activo" : "Inactivo" }}</td>
            </tr>
        </tbody>

        <Button><a href="{{ path('all_proveedor') }}">Volver al listado</a></Button>
        <Button><a href="{{ path('edit_proveedor_form', {'id': proveedor.id}) }}">Editar</a></Button>
        <Button><a href="{{ path('delete_proveedor', {'id': proveedor.id}) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este proveedor?')">Eliminar</a></Button>






{% endblock %}
