{% extends 'base.html.twig' %}

{% block title %}Hello ProveedorController!{% endblock %}

{% block body %}
<style>
   {# estilos #}
</style>
<h1>Detalle de Proveedor</h1>

    {{ dump(custom_proveedor) }}

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proveedor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ proveedor.nombre }}</td>
            </tr>
            
            <tr>
                <th>Telefono</th>
                <td>{{ proveedor.telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ proveedor.correo }}</td>
            </tr>
           
            {# <tr>
                <th>Fecha de Registro</th>
                <td>{{ proveedor.fecha_creacion ? proveedor.fecha_creacion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de Actualizacion</th>
                <td>{{ proveedor.fecha_actualizacion ? proveedor.fecha_actualizacion|date('Y-m-d') : '' }}</td>
            </tr> #}
            <tr>
                <th>Estado</th>
                <td>{{ proveedor.activo ? "Activo" : "Inactivo" }}</td>
            </tr>
        </tbody>





{% endblock %}
